{% extends "base.html" %}

{% block header %}{{ node.get_name }}{% endblock %}
{% block content %}
<p><a href="{% url manager.views.node_list %}">nodes list</a></p>
<h2>parameters</h2>
    <table class="table table-hover table-condensed table-bordered">
        {% for param in params %}
            <tr>
                <td span=>{{ param.template.get_name }}</td><td>{{ param }}</td>
                <td>
                  {% if not param.primary %}
                    <a href="{% url manager.views.node_del_param param.id %}" title="delete parameter"><i class="icon-remove"></i></a>
                  {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td><i>No parameters.</i></td></tr>
        {% endfor %}
    </table>
<form class="form-inline" action="{% url manager.views.node_add_param %}" method="post">
    {% csrf_token %}
    <div>
        <input type="hidden" name="node_id" value="{{node.id}}" />
        <select name="param_id" id="param_id">
        {% for param in available_params %}
            <option value="{{param.id}}">{{ param.template.get_name }}: {{ param.name }}</option>
        {% endfor %}
        </select>
	<div class="input-append">
          <input placeholder=value type="text" name="param_value" id="param_value" value="{{ param.value }}" />
          <input class="btn btn-primary" type="submit" name="sub" value="Add parameter" />
        </div>
    </div>
</form>
<h3>connected objects</h3>
<form class="form-inline" action="{% url manager.views.node_link %}" method="post">
    {% csrf_token %}
    <p>
        Link with
        <input type="hidden" name="node_id" value="{{node.id}}" />
        <select name="link_direction" id="link_direction">
            <option value="-1">depends on (down)</option>
            <option value="0">neutral</option>
            <option value="1">provides (up)</option>
        </select>
        <select name="link_node_id" id="link_node_id">
        {% for link_node in node_list %}
            <option value="{{link_node.id}}">{{ link_node }}</option>
        {% endfor %}
        </select>
        <input class="btn btn-mini" type="submit" name="sub" value="Link" />
    </p>
</form>
<form class="form-inline" action="{% url manager.views.node_new %}" method="get">
    {% csrf_token %}
    <p>
        Create new linked node from template
        <input type="hidden" name="link_node_id" value="{{node.id}}" />
        <select name="template_id" id="template_id">
        {% for template in primary_template_list %}
            <option value="{{template.id}}">{{ template.get_name }}</option>
        {% endfor %}
        </select>
        <input class="btn btn-mini" type="submit" name="sub" value="Create" />
    </p>
</form>
<ul>
    {% for direction,connector,connected_nodes in connected %}
        <li>{{direction}}: {{connector}}
            <a href="{% url manager.views.node_unlink node.id connector.id %}" title="unlink from the connector">[unlink]</a>
            <a href="{% url manager.views.node_delete connector.id %}" title="delete the connector">[drop]</a>
            <ul>
                {% for n in connected_nodes %}
                <li>
                    <a href="{% url manager.views.node_detail n.id %}">{{n}}</a>
                    <a href="{% url manager.views.node_unlink n.id connector.id %}"
                        title="unlink {{n}} from connector">[unlink]</a>
                </li>
                {% empty %}
                <li><i>No connections.</i></li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li><i>No connections.</i></li>
    {% endfor %}
</ul>
<h3>templates</h3>
<table class="table table-condensed">
    <tr>
      <td><small><a href="{% url manager.views.node_detail node.primary_template.id %}">{{ node.primary_template.get_name }}</a></small></td>
      <td><small>primary template</small></td>
    </tr>
    {% for template in templates %}
        <tr>
            <td><a href="{% url manager.views.node_detail template.id %}">{{ template.get_name }}</a></td>
            <td><a href="{% url manager.views.node_unlink_template node.id template.id %}" title="unlink template"><i class="icon-remove"></i></a></td>
        </tr>
    {% empty %}
        <tr><td><small>No more templates.</small></td><td></td></tr>
    {% endfor %}
</table>
<form class="form-inline" action="{% url manager.views.node_link_template %}" method="post">
    {% csrf_token %}
    <p>
        Link additional templates:
        <input type="hidden" name="node_id" value="{{node.id}}" />
        <select name="template_id" id="template_id">
        {% for template in template_list %}
            <option value="{{template.id}}">{{ template.get_name }}</option>
        {% endfor %}
        </select>
        <input class="btn btn-mini" type="submit" name="sub" value="Link" />
    </p>
</form>
{% if debug %}
<pre>
{{debug}}
</pre>
{% endif %}
{% endblock %}
