{% extends "base.html" %}

{% block header %}Nodes{% endblock %}

{% block content_menu %}
<a class="btn btn-success btn-small" href="{% url manager.views.template_list %}">Create new item from template</a>
{% endblock %}

{% block content %}
<table class="table table-condensed table-hover">
    {% for node in nodes %}
        <tr>
            <td><a href="{% url manager.views.node_detail node.id %}">{{ node }}</a></td>
        </tr>
    {% empty %}
        <tr class="warning"><td><i>No nodes found.</i></td></tr>
    {% endfor %}
</table>
{% endblock %}
