{% extends "base.html" %}
{% load ranges %}

{% block header %}Node tree{% endblock %}
{% block content %}
<form class="form-inline" method="get" action="{% url manager.views.node_tree %}">
  <div class="input-append">
    <select name="root_node_id" id="root_node_id">
        {% for n in nodes %}
        <option value="{{n.id}}">{{n}}</option>
        {% endfor %}
    </select>
    <input class="btn" type="submit" name="sub" id="submit" value="Show tree" />
  </div>
</form>
<div style="font-family: monospace">
{{root_node}}<br />
{% for indent,item in tree %}
    {% for i in indent|times %}
        <span>&nbsp;&nbsp;</span>
    {% endfor %}
    {{item}}<br />
{% endfor %}
</div>
{% endblock %}
