{% extends "base.html" %}
{% load ranges %}

{% block pagetitle %}node tree{% endblock %}
{% block header %}Node tree{% endblock %}
{% block content %}
<form class="form-inline" method="get" action="{% url manager.views.node_tree %}">
  <div class="input-append">
    <select name="root_node_id" id="root_node_id">
        {% for n in nodes %}
        <option value="{{n.id}}">{{n}}</option>
        {% endfor %}
    </select>
    <input class="btn" type="submit" name="sub" id="submit" value="Show tree">
  </div>
</form>
<div style="font-family: monospace">
<a href="{% url manager.views.node_detail root_node.id %}">{{root_node}}</a><br>
{% for indent,item in tree %}
    {% for i in indent|times %}
        <span>&nbsp;&nbsp;</span>
    {% endfor %}
    <a href="{% url manager.views.node_detail item.id %}">{{item}}</a><br>
{% endfor %}
</div>
{% endblock %}
