{% extends "base.html" %}

{% block pagetitle %}new node{% endblock %}
{% block header %}Create new node{% endblock %}
{% block content %}
<form action="{% url manager.views.node_create %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="template_id" value="{{ template.id }}" />
    <p class="text-warning">Using primary template: {{ template }}</p>
    <p>
        <input placeholder="{{ primary_param.name }}" type="text" name="newname" id="newname" value="{{ primary_param.value }}" />
    </p>
    <p>
        <label for="link_with">Link with this node</label>
        <select name="link_direction" id="link_direction">
            <option value="-1">depends on (down)</option>
            <option value="0">neutral</option>
            <option value="1">provides (up)</option>
        </select>
        <select name="link_with" id="link_with">
            <option value="-1"
                {% if not link_node_id %}selected="selected"{% endif %}
                >none</option>
            {% for n in node_selector %}
            <option value="{{n.id}}"
                {% if link_node_id == n.id %}selected="selected"{% endif %}
                >{{n}}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" name="sub" id="submit" value="Create" />
    </p>
</form>
{% endblock %}
