{% extends "base.html" %}

{% block header %}<small>template</small>:{{ node.get_name }}{% endblock %}
{% block content %}
{% if node.is_primary_template %}
<p><a href="{% url manager.views.node_new template_id=node.id %}" class="btn btn-success">Create item using this template</a></p>
{% endif %}
<h2>template's parameters</h2>
<form action="{% url manager.views.template_add_param %}" method="post">
    {% csrf_token %}
    <table class="table">
        {% for param in params %}
            <tr><td>
                {{ param }}
                {% if not param.structural %}
                </td><td><i class="icon-pencil"></i></td>
                <td><a href="{% url manager.views.node_del_param param.id %}" title="delete parameter"><i class="icon-remove"></i></a>
                {% endif %}
            </td></tr>
        {% empty %}
            <tr><td><i>No parameters found.</i></td></tr>
        {% endfor %}
    </table>
    <input type="hidden" name="template_id" value="{{ node.id }}" />
    <input placeholder="new parameter's name" type="text" name="param_name" id="param_name" value="" />
    <input placeholder="default value"  type="text" name="param_value" id="param_value" value="" />
    <label for="param_primary" class=checkbox>
      <input type="checkbox" name="param_primary" id="param_primary" value="x" /> primary
    </label>
    <input class="btn" type="submit" name="sub" id="submit" value="Add new parameter" />
</form>
<h2>nodes using this template</h2>
<table class="table">
{% for i in primary_instances %}
    <tr><td><a href="{% url manager.views.node_detail i.id %}">{{i}}</a> <i class="icon-star"></i></td></tr>
{% endfor %}
{% for i in instances %}
    <tr><td><a href="{% url manager.views.node_detail i.id %}">{{i}}</a></td></tr>
{% endfor %}
</table>
{% endblock %}
