{% extends "base.html" %}

{% block header %}{{ node }}{% endblock %}
{% block content %}
<p><a href="{% url manager.views.template_list %}">templates list</a></p>
<p>History:
{% for n in node_history.get_nodes %}
    {% if n.typ == 0 %}
    <a href="{% url manager.views.template_detail n.id %}"
    {% else %}
    <a href="{% url manager.views.node_detail n.id %}"
    {% endif %}
    >{{n}}</a>
    {% if not forloop.last %} &gt; {% endif %}
{% endfor %}
</p>
<p><a href="{% url manager.views.node_new template_id=node.id %}" class="btn btn-success">create node using this template</a></p>
<h2>manage template's parameters</h2>
<form action="{% url manager.views.template_add_param %}" method="post">
    {% csrf_token %}
    <ul>
        {% for param in params %}
            <li>
                {{ param }}
                {% if not param.structural %}
                <a href="{% url manager.views.node_del_param param.id %}" title="delete parameter">[X]</a>
                {% endif %}
            </li>
        {% empty %}
            <li><i>No parameters found.</i></li>
        {% endfor %}
    </ul>
    <input type="hidden" name="template_id" value="{{ node.id }}" />
    <label for="param_name">parameter name:</label>
    <input type="text" name="param_name" id="param_name" value="" />
    <label for="param_value">default value:</label>
    <input type="text" name="param_value" id="param_value" value="" />
    <label for="param_primary" class=checkbox>
      <input type="checkbox" name="param_primary" id="param_primary" value="x" /> primary
    </label>
    <input class="btn" type="submit" name="sub" id="submit" value="Add this parameter" />
</form>
<h2>instances</h2>
<ul>
{% for i in primary_instances %}
    <li><a href="{% url manager.views.node_detail i.id %}">{{i}}</a> *</li>
{% endfor %}
{% for i in instances %}
    <li><a href="{% url manager.views.node_detail i.id %}">{{i}}</a></li>
{% endfor %}
</ul>
{% endblock %}
