{% extends "base.html" %}

{% block header %}Create new template{% endblock %}
{% block content %}
<form action="{% url manager.views.template_create %}" method="post">
  {% csrf_token %}
  <div>
    <input placeholder="Template name" type="text" name="newname" id="newname" value="" />
  </div>
  <div>
    <input placeholder="primary parameter name" type="text" name="primary_name" id="primary_name" value="" />
    <input placeholder="primary default value" type="text" name="primary_value" id="primary_value" value="" />
  </div>
  <div>
    <input class="btn btn-primary" type="submit" name="sub" id="submit" value="Create" />
  </div>
</form>
{% endblock %}
