{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}(template) {{ node.get_name }}{% endblock %}
{% block header %}<small>template:</small>{{ node.get_name }}{% endblock %}
{% block htmlhead %}
<script type="text/javascript" src="{% static "js/parameditor.js" %}"></script>
{% endblock %}
{% block content %}
{% if node.is_primary_template %}
<p><a href="{% url manager.views.node_new template_id=node.id %}" class="btn btn-success">Create item using this template</a></p>
{% else %}
<p class="text-warning">You cannot use this template to create item as this is not a primary template.</p>
<p class="text-info">To make this template primary add primary parameter to this template.</p>
{% endif %}
<h3>template's parameters</h3>
<form method="post" action="{% url manager.views.node_set_param %}">
    {% csrf_token %}
    <input type="hidden" name="node_id" value="{{node.id}}">
    <input type="hidden" id="param_edit_id" name="param_id" value="">
    <table class="table table-hover table-condensed table-bordered">
        {% for param in params %}
            <tr>
                <td><em>{{ param.name }}</em></td>
                <td><strong><span {% if not param.structural %}class="param_edit"{%endif%}
                        param_id="{{param.id}}" id="param_id_{{param.id}}"
                        >{{ param.value }}</span></strong></td>
                <td>
                {% if not param.structural %}
                    <span class="icon-pencil"
                        onclick="jQuery('#param_id_{{param.id}}').trigger('click');"></span>
                    <a href="{% url manager.views.node_del_param param.id %}" title="delete parameter"><i class="icon-remove"></i></a>
                {% endif %}
                {% if param.structural %}<span class="pull-right">[S]</span>{% endif %}
                {% if param.primary %}<span class="pull-right">[P]</span>{% endif %}
                {% if param.static %}<span class="pull-right">[static]</span>{% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td><i>No parameters found.</i></td></tr>
        {% endfor %}
    </table>
</form>
<form action="{% url manager.views.template_add_param %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="template_id" value="{{ node.id }}">
    <input placeholder="new parameter's name" type="text" name="param_name" id="param_name" value="">
    <input placeholder="default value"  type="text" name="param_value" id="param_value" value="">
    <label for="param_primary" class="checkbox">
      <input type="checkbox" name="param_primary" id="param_primary" value="x"> primary
    </label>
    <label for="param_static" class="checkbox">
      <input type="checkbox" name="param_static" id="param_static" value="x"> static
    </label>
    <input class="btn" type="submit" name="sub" id="submit" value="Add new parameter">
</form>
<h3>nodes using this template</h3>
<table class="table">
{% for i in primary_instances %}
    <tr><td><a href="{% url manager.views.node_detail i.id %}">{{i}}</a> <i class="icon-star"></i></td></tr>
{% endfor %}
{% for i in instances %}
    <tr><td><a href="{% url manager.views.node_detail i.id %}">{{i}}</a></td></tr>
{% endfor %}
</table>
{% endblock %}
