{% extends "base.html" %}

{% block pagetitle %}zabbix sync{% endblock %}
{% block header %}Zabbix sync{% endblock %}
{% block content %}
<h2>Host groups</h2>
<form method="get" action="{% url zabsync.views.add_hosts_by_group %}">
<select name="template_id">
{% for t in primary_templates %}
    <option value="{{t.id}}">{{t.get_name}}</option>
{% endfor %}
</select>
<select name="subtemplate_id">
    <option value="-1">none</option>
{% for t in templates %}
    <option value="{{t.id}}">{{t.get_name}}</option>
{% endfor %}
</select>
<table class="table">
{% for group in groups %}
    <tr>
        <td><input type="checkbox" name="group" value="{{group.groupid}}">
{{group.name}} ({{group.groupid}})</td>
    </tr>
{% empty %}
    <tr><td>empty</td></tr>
{% endfor %}
</table>
<input type="submit" value="Add selected">
</form>
<pre>
{{debug}}
</pre>
{% endblock %}
