{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <h1>{% block header %}{% endblock %}</h1>
    </div>
    <div class="container">
      <a href="{% url manager.views.main %}"><i class="icon-home"></i></a> &gt;
      <small>
        {% for n in request.session.node_history.get_nodes %}
        <a href="{% url manager.views.node_detail n.id %}">{{n}}</a>
        {% if not forloop.last %} &gt; {% endif %}
        {% endfor %}
      </small>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
